@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

/* CSS Reset */
* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #f5fbfd;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.mt-1 {
  margin-top: 5px;
}
button {
  border: none;
}

h1 {
  font-size: 160%;
}
h2 {
  font-size: 130%;
}
h3 {
  font-size: 120%;
}
h4 {
  font-size: 100%;
}
h5 {
  font-size: 80%;
}
h6 {
  font-size: 60%;
}

/* Starting Style */
header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #888;
  background: #154699;
  color: #fff;
}
.btn {
  position: relative;
  display: block;
  border: 1px solid black;
  height: 25px;
  width: 40px;
  border-radius: 50px;
}

.btn input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 50px;
}

.btn input[type="checkbox"] + .toggle {
  position: absolute;
  background-image: linear-gradient(#eee, #eee);
  height: 100%;
  width: 100%;
  border-radius: 50px;
  transition: background 500ms linear;
}

.btn input[type="checkbox"]:checked + .toggle {
  background-image: linear-gradient(#4b4b4b, #565656);
}

.btn input[type="checkbox"] + .toggle .on-off {
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
  transition: all 500ms linear;
  background-image: linear-gradient(red, yellow);
  border: dotted 6px e75d00;
  border-radius: 100%;
}

.btn input[type="checkbox"]:checked + .toggle .on-off {
  right: 0;
  border-radius: 100%;
  border-width: 0;
  border-left: solid 13px #000;
  background: transparent;
  transform: rotate(-30deg);
  top: -1px;
}

nav {
  width: 30%;
  background: #154699;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li a {
  color: #fff;
}
.sertifikat {
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  background: #657;
  color: #fff;
  border-bottom: 2px solid #e9e9e9;
}
.sertifi div p {
  text-align: center;
}
.sertifi {
  display: flex;
  justify-content: space-between;
  padding: 11px;
}
.sertifikat-img {
  height: 197px;
  width: 311px;
  border-radius: 9px;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  padding: 0 5px;
  background: #00127d;
  color: #fff;
}
@media only screen and (min-width: 900px) {
  .container {
    padding: 0px 144px;
  }
  .myContent {
    margin-right: 38px;
    width: 80%;
  }
  .sidebar {
    width: 265px;
  }
  .mobile {
    display: none;
  }
}

/* Mobile Version */
@media only screen and (max-width: 700px) {
  .pc {
    display: none;
  }
  main,
  .sertifi {
    display: flex;
    flex-direction: column;
  }
  header {
    position: relative;
  }
  .ham-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 25px;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    right: 3px;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    background: #18212ec7;
  }
  .menu-items {
    display: none;
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    opacity: 0;
    font-size: 12pt;
    top: 36px;
    transition: transform 500ms ease-in-out, opacity 1000ms;
  }

  .menu-items li {
    padding: 0.5rem;
  }

  .menu-items li a {
    color: #fff;
  }

  .menu-items li a:hover {
    color: rgb(174, 174, 174);
  }

  .check {
    position: absolute;
    height: 25px;
    width: 25px;
    right: 0;
    opacity: 0;
    z-index: 3;
  }

  .check:hover {
    cursor: pointer;
  }
  .menu-items {
    flex-direction: column;
  }
  .check:checked ~ .menu-items {
    display: block;
    transform: translateX(0%);
    opacity: 1;
    left: 0;
  }

  .ham-menu .line {
    background-color: white;
    border-radius: 1em;
    width: 22px;
    height: 1.2px;
  }

  .ham-menu .line1 {
    transform-origin: 0% 0%;
    transition: transform 100ms ease-in-out;
  }

  .ham-menu .line2 {
    width: 60%;
  }
  .ham-menu .line3 {
    transform-origin: 0% 100%;
    transition: transform 100ms ease-in-out;
  }

  .check:checked ~ .ham-menu .line1 {
    display: block;
    transform: rotate(43deg);
  }

  .check:checked ~ .ham-menu .line2 {
    opacity: 0;
  }

  .check:checked ~ .ham-menu .line3 {
    display: block;
    transform: rotate(-43deg);
  }
  .sertifi div {
    text-align: center;
  }
  .sertifikat-img {
    height: 197px;
    width: 311px;
    border-radius: 9px;
  }
}
