@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* CSS Reset */
* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.mt-1 {
  margin-top: 5px;
}
button {
  border: none;
}

        h1{font-size:160%}
        h2{font-size:130%}
        h3{font-size:120%}
        h4{font-size:100%}
        h5{font-size:80%}
        h6{font-size:60%}
/* Starting Style */
.myHeader {
  display: flex;
  justify-content: space-between;
}
.myHeader {
  padding: 5px;
  border-bottom: 1px solid #888;
  margin-bottom: 20px;
}
.container {
  justify-content: space-between;
  display: flex;
}
.about {
  display: flex;
}
.sertifikat {
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  background: #657;
  color: #fff;
  border-bottom: 2px solid #e9e9e9;
}
.sertifi div p {
  text-align: center;
}
.sertifi {
  display: flex;
  justify-content: space-between;
  padding: 11px;
}
.sertifikat-img {
  height: 197px;
  width: 311px;
  border-radius: 9px;
}
.sidebar {
  display: flex;
  flex-direction: column;
}
.bar-skill {
  padding: 5px;
  background: #657;
  color: #fff;
  font-size: 10pt;
  border-bottom: 2px solid #e9e9e9;
}
.sidebar button {
  margin-top: 4px;
  padding: 5px;
  border-left: 3px solid #000;
}
.sidebar button:hover {
  background: #000;
  color: #fff
}
@media only screen and (min-width: 900px) {
.container {
  padding: 0px 144px;
}
.myContent {
    margin-right: 38px;
  width: 80%;
} 
.sidebar {
  width: 265px;
}
.mobile {
  display: none;
}
}

/* Mobile Version */
@media only screen and (max-width: 700px) {
.pc {
  display: none;
}
.myHeader, .container, .sertifi {
  display: flex;
  flex-direction: column;
  }
.about div p {
  margin-top: 2px;
  margin-left: 5px;
}
.sidebar {
  padding: 11px;
}
.sertifi div {
  text-align: center;
}
.sertifikat-img {
  height: 197px;
  width: 311px;
  border-radius: 9px;
}

} 
