.materi {
  display: flex;
}
.materi p {
  font-family: arial;
  margin-top: 0.7em;
  font-size: 11pt;
}
.menu-post {
  display: block;
  padding: 5px;
  margin-top: 20px;
  width: 220px;
  height: 150px;
  overflow: auto;
  margin-right: 10px;
}
.data-post p {
  margin-left: 3px;
}
        dl,ol,ul{margin-left:20px}
        ol{list-style:decimal outside}
        ul{list-style:square outside}
        li{margin:5px 0}
        ol ol,ul ul{margin-left:16px}
        ol li{border-bottom:1px solid #ccc;padding:0 0 5px}

/* Desktop Version */
@media only screen and (min-width: 900px) {
code {
  width: 600px;
  }
.materi {
 padding: 30px; 
 }
.data-post {
  width: 60%;
  margin: 0 32px;
}
}

/* Mobile Version */
@media only screen and (max-width: 700px) {
  .menu-post {
    display: none;
  }
}
code {
  display: block;
  width: 302px;
  color: #000;
}
code p {
  margin-top: 0 !important;
  padding: 0 0 0 5px;
}
code p:first-child {
  background: rgb(55, 24, 230);
  padding: 5px;
  color: #fff;
  border-bottom: 1px solid #ddd;
  font-size: 11pt;
  font-family: 'Inter', sans-serif;
}
code p:not(:first-child) {
  border-bottom: 0.3px solid #d1d1d1;
  
}
code p:nth-child(2) {
  background: #d9d8d7;
}
code p:nth-child(3) {
  background: #ededed;
}
code p:nth-child(4) {
  background: #d9d8d7;
}
code p:nth-child(5) {
  background: #ededed;
}
code p:nth-child(6) {
  background: #d9d8d7;
}
code p:nth-child(7) {
  background: #ededed;
}
code p:nth-child(8) {
  background: #d9d8d7;
}
code p:nth-child(9) {
  background: #ededed;
}
code p:nth-child(10) {
  background: #d9d8d7;
}
code p:nth-child(11) {
  background: #ededed;
}
code p:nth-child(12) {
  background: #d9d8d7;
}
code p:nth-child(13) {
  background: #ededed;
}
code p:nth-child(14) {
  background: #d9d8d7;
}
code p:nth-child(15) {
  background: #ededed;
}
code p:nth-child(16) {
  background: #ededed;
}
code p:nth-child(17) {
  background: #ededed;
}
code p:nth-child(18) {
  background: #d9d8d7;
}
code p:nth-child(19) {
  background: #ededed;
}
code p:nth-child(20) {
  background: #d9d8d7;
}
code p:nth-child(21) {
  background: #ededed;
}
code p:nth-child(22) {
  background: #d9d8d7;
}
code p:nth-child(23) {
  background: #ededed;
}
code p:nth-child(24) {
  background: #d9d8d7;
}
code p:nth-child(25) {
  background: #ededed;
}
