$font-size-base: 12pt;
$font-size-h1: floor(($font-size-base * 2.6));
$font-size-h2: floor(($font-size-base * 2.15));
$font-size-h3: ceil(($font-size-base * 1.7));
$font-size-h4: ceil(($font-size-base * 1.25));
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85));
h1{
  font-size:$font-size-h1;
}
h2{
  font-size:$font-size-h2;
}
h3{
  font-size:$font-size-h3;
}
h4{
  font-size:$font-size-h4;
}
h5{
  font-size:$font-size-h5;
}
h6{
  font-size:$font-size-h6;
}
.materi {
  display: flex;
}
.materi p {
  font-family: arial;
  margin-top: 0.7em;
  font-size: 11pt;
}
.menu-post {
  display: block;
  border: 1px solid red;
  padding: 5px;
  margin-top: 20px;
  width: 300px;
  height: 500px;
  overflow: auto;
  margin-right: 10px;
}
h2 {
  font-size: 13pt;
}

.data-post p {
  margin-left: 3px;
}
blockquote {
  background: #343434;
  color: #fff;
  margin: 20px 10px;
  padding: 2px;
}
blockquote p:not(:first-child) {
  margin: 2px;
  font-size: 9pt;
  font-family: monospace;
}
blockquote p:first-child {
  background: rgb(55, 24, 230);
  margin: -2px;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

/* Mobile Version */
@media only screen and (max-width: 700px) {
  .menu-post {
    display: none;
  }
}
